@model IEnumerable<EjercicioG3.Models.Asignaciones>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAsignacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpleadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProyectoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proyecto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FechaAsignacion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(model => item.EmpleadoId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Empleado)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProyectoId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Proyecto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
